*{
    background-color: pink;
    text-align: center;
}

.calculator{
    width: 450px;
    height: 525px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: rgb(122, 122, 122);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display{
    background-color: rgba(0, 0, 0, 0.521);
    height: 100px;
    width: 400px;
    margin: 0 auto;

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 5em;
    font-weight: 1000;
    text-align: right;
    border-radius: 10px;
}

.buttonContainer{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    flex: 1;
}

.row{
    flex: 1;
    display: flex;
    background-color: rgb(122, 122, 122);
}

.calcBtn{
    flex: 1;
    background-color: rgb(109, 71, 145);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 1000;
    font-size: xx-large;
    border-radius: 10px;
}

.operator{
    background-color: rgb(155, 125, 184);
}

.equalsBtn{
    background-color: rgb(160, 90, 226);
}

.clearBtn{
    background-color: rgb(68, 58, 77);
    font-style: italic;
}